@page
@model IndexModel
@{
    ViewData["Title"] = "SBL Core";
}

<div>
    <img class="logo" src="~/logo-SBLCore.svg" />

    <h1>Vítejte</h1>

    <p>
        Zadání projektu naleznete zde:
        <a href="zadani.pdf" target="_blank" rel="noopener">
            Zadání (PDF)
        </a>
    </p>
</div>
