html, body {
    height: 100%;
    font-family: Arial;
}
.bg-ico {
    position: absolute;
    bottom: 50px;
    left: 100px;
    width: 500px;
    z-index: -5;
    opacity: 0.12;

}
.logo-small {
    height: 100%;
}
.logo {
    height: 100px;
    text-align: center;
}
.logo--resized {
    height: 75px;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.nav {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.nav__left {
}

.nav__right {
    margin-left: auto;
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
    gap: 10px;
}

.nav__list {
    display: flex;
    list-style: none;
    margin: auto 0;
    padding: 0;
    gap: 15px;
}


.nav__item {
    list-style: none;
    color: black;
}

.nav__link {
    color: black;
    text-decoration: none;
}

main {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding-top: 50px;
}
.login__message {
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: 00px;
    box-sizing: border-box;
}
.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.login__input {
    padding: 7px 10px;
    border-radius: 5px;
    background-color: rgb(220,220,220);
    border: none;
}
.login__button {
    padding: 7px 12px;
    background-color: rgb(100,100,250);
    color: white;
    border-radius: 5px;
    border: none;
}
.form--resize {
    font-size: 15px;
}

.login__testuser {
    font-size: 11px;
}
